<% include ../partials/header.ejs %>
  <h2> Add a student </h2>

  <form class="new-student" method = "POST">
    <label>First Name</label>
    <input name = "fname" type = "text"/>
    <label>Last Name</label>
    <input name="lname" type="text" />
    <label>Image</label>
    <input name = "image" type="text"/>
    <label>House</label>
    <select name = "house_id">
      <option value="1">Gryffindor</option>
      <option value="2">Hufflepuff</option>
      <option value="3">Ravenclaw</option>
      <option value="4">Slytherin</option>
    </select>
    <button type = "submit">submit</button>
  </form>
  <% include ../partials/header.ejs %>